html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color:rgb(21, 24, 33);
    font-family:'Arial Narrow', Arial, sans-serif;
}

.whitespace{
    height: 15%;
}

.flexBox{
    display: flex;
    justify-content: center;
}

.classBar{
    display: block;
    margin: 0 auto;
}

.icon{
    width: 44px;
    height: 44px;
    margin-left: 2px;
    margin-right: 2px;
}
.icon:hover{
    cursor:pointer;
    content: url('../images/icon borders/icon_border_glow.png');
    width: 44px;
    height: 44px;
}

.dontDisplay{
    display: none;
}

.startString{
    color:white;
    text-align: center;
    padding-top: 5%;
    font-size: 20px;
    font-family: Verdana,"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
}



/* Class Icon CSS */
.druidClass{
    background-image: url("../images/class icons/classicon_druid.jpg");
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: center center;
}
.hunterClass{
    background-image: url("../images/class icons/classicon_hunter.jpg");
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: center center;
}
.mageClass{
    background-image: url("../images/class icons/classicon_mage.jpg");
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: center center;
}
.paladinClass{
    background-image: url("../images/class icons/classicon_paladin.jpg");
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: center center;
}
.priestClass{
    background-image: url("../images/class icons/classicon_priest.jpg");
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: center center;
}
.rogueClass{
    background-image: url("../images/class icons/classicon_rogue.jpg");
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: center center;
}
.shamanClass{
    background-image: url("../images/class icons/classicon_shaman.jpg");
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: center center;
}
.warlockClass{
    background-image: url("../images/class icons/classicon_warlock.jpg");
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: center center;
}
.warriorClass{
    background-image: url("../images/class icons/classicon_warrior.jpg");
    background-repeat: no-repeat;
    background-size: 34px 34px;
    background-position: center center;
}

/* Calc table CSS */
table, table td{
    padding: none;
    border-spacing: 0;
    table-layout: fixed;
}
table{
    width: 100%;
    height: 100%;
    color: white;
}
tr{
    height: 58px; /* This limits the size of table cells */
}
td{
    text-align: center;
    max-width: 51px;
    max-height: 58px;
    padding-top: 4px; /* This makes the cell icons more centered */
}



/* Tri-panel CSS */
.column1{
    float: left;
    width: 204px;
    height: 406px;
    background-image: none;
    background-size: 100% 100%;
}
.column2{
    float: left;
    width: 204px;
    height: 406px;
    background-image: none;
    background-size: 100% 100%;
}
.column3{
    float: left;
    width: 204px;
    height: 406px;
    background-image: none;
    background-size: 100% 100%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}

/* Spec Label CSS */
.column {
    float: left;
    width: 204px;
    height: 70px;
}

.specBarCenter{
    padding-top: 5px;
    width: 42px;
    height: 42px;
    margin-left: 30px;
    margin-right: 2px;
    float: left;
}

.specName{
    color: white;
    float: left;
    margin-top: 15px;
}

.pointTotal{
    color: white;
    float: left;
    margin-top: 15px;
    padding-left: 5px;
}

/* Sidebar CSS */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 11%;
    border-top: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color:rgb(49, 53, 71);
    overflow: hidden;
    text-align: center;
    color:white;
}

.sidebar a{
    color: white;
    text-decoration: none;
}

.sidebarButton{
    width: 100%;
    height: 41px;
    border: none;
    border-top: 1px solid rgb(49, 53, 71);
    color: white;
    background-color: rgb(163, 155, 141);
}
.sidebarButton:hover{
    cursor: pointer;
}

/* Tooltip */
.tooltip{
    font-family: Verdana,"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
    display: none;
    position: absolute;
    top: 20px;
    left: 230px;
    color: white;
    border: 6px solid transparent;
    border-image: url("../images/table elements/tooltip-border.png") 6 stretch;
    width: 100%;
    max-width: 320px;
    overflow-wrap: normal;
    height: auto;
}

.tooltip p{
    padding:0;
    margin:0;
}

.tooltipInner{
    display: flex;
    flex-direction: column;
    background-color: rgba(1, 7, 33, 0.8);
    overflow-wrap: normal;
    height: auto;
}

.tooltipName{
    overflow-wrap: normal;
    position: relative;
    top: 0px;
    left: 3px;
    font-size: 14px;
}

.tooltipRank{
    overflow-wrap: normal;
    position: relative;
    top: -15px;
    left: 0px;
    direction: rtl;
    color: gray;
    font-size: 12px;
    height: 0;
}

.tooltipType{
    overflow-wrap: normal;
    position: relative;
    top: 0px;
    left: 3px;
    color: gray;
    font-size: 12px;
}

.tooltipMana{
    overflow-wrap: normal;
    position: relative;
    top: 0px;
    left: 3px;
    font-size: 12px;
}

.tooltipCastTime{
    overflow-wrap: normal;
    position: relative;
    top: 0px;
    left: 3px;
    font-size: 12px;
}

.tooltipCooldown{
    overflow-wrap: normal;
    position: relative;
    top: 0px;
    left: 0px;
    direction: rtl;
    font-size: 12px;
}

.tooltipClassReq{
    overflow-wrap: normal;
    position: relative;
    top: 0px;
    left: 3px;
    font-size: 12px;
}

.tooltipDesc{
    overflow-wrap: normal;
    position: relative;
    top: 0px;
    left: 3px;
    color: #ffd100;
    font-size: 12px;
    padding-right: 5px;
}

.tooltipLearn{
    overflow-wrap: normal;
    position: relative;
    top: 0px;
    left: 3px;
    font-size: 12px;
    color:rgb(64,191,64);
}